ui-textblock()
  .textblock
    max-width: 632px
    word-wrap: break-word
    word-break: normal

    &.margin-top
      margin-top: 32px

    &.weight-bold
      font-weight: 600

    &.size-small
      font-size: 0.65rem
      line-height: 0.9rem

  .small-link
    font-size: 0.65rem
    line-height: 0.9rem
