rupture.scale = 100% 100% 100% 100% 100% 100%
rupture.anti-overlap = 1px
.container
  center(100%, 36px)
  .row
    clearfix()

  for i in (1..12)
    .col-{i}
      span(i/12)
    +below(5)
      .col-xl-{i}
        span(i/12)
    +below(4)
      .col-lg-{i}
        span(i/12)

.hide-mobile
  @media (max-width: 800px)
    display: none !important

.hide-desktop
  @media (min-width: 801px)
    display: none !important
