// Normalize
@require '../../node_modules/normalize.css/normalize.css'

// Rapture
@require '../../node_modules/rupture/rupture/index'

// Jeet
@require '../../node_modules/jeet/styl/index'
//debug($color = #f00)

// Components
@require 'variables'
@require 'typo'
@require 'grid'
@require 'ui/textblock'

body
  background: $white

button:focus
  outline: 0

.activeModal
  overflow: hidden

button:focus
  outline: 0
