@require '../styles/index'

.header
  margin-top: 36px

.logo--button
  cursor: pointer
  height: 22px
  border: none
  padding: 0
  background: $white

.logo--img
  height: 13px

.menu
  margin-top: 3px

.menu--item
  cursor: pointer
  text-decoration: none
  padding: 0

  &:nth-of-type(1)
    margin-right: 20px

  &.active
    border-bottom: 1px solid $black

.menu--item-passiv
  opacity: 0.25
  cursor: not-allowed
